body {
    font-family: Arial, sans-serif;
    background-color: #dfdfdf;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

header img {
    width: 200px;
    height: auto;
    order: 2;
}

header h1 {
    font-size: 34px;
    margin: 0;
    order: 1;
}
form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e4e4e4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #616060;
}

input[type="number"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2072a8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #2389ce;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

